@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

*{
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d2b3a;
}

h1{
  font-family: 'Tilt Warp', cursive;
}

.caixa_principal{
  width: 30%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 3px solid #000;
  color: #000;
  background-color: #1d2b3a;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #000;
}

.inputBox{
  position: relative;
  width: 250px;
  font-family: 'Inter', sans-serif;
}

.inputBox input{
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.25);
  background-color: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1rem;
  transition: 0.5s;
}

.inputBox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1rem;
  color: rgba(255,255,255,0.25);
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65rem;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.inputBox input:valid,
.inputBox input:focus
{
  border: 1px solid #00dfc4;
}

.inputBox input::placeholder{
 color: #1d2b3a;
}

.inputBox input:focus::placeholder{
  color: #747474;
}

button{
  cursor: pointer;
  padding: 15px 70px;
  font-family: 'Tilt Warp', cursive;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.novaCaixa{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.vermelho{
  background-color: #e01b1b !important;
}

.amarelo{
  background-color: #dfe224 !important;
}

.verde{
  background-color: #54e72f !important;
}

.cinza{
  background-color: #535353 !important;
}