@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

*{
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'Tilt Warp', cursive;
}

.caixa_principal{
  width: 30%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 20px #000;
}

.caixa_altura{
  margin-left: -8px;
}

.caixa_altura, .caixa_peso{
  font-family: 'Inter', sans-serif;
}

button{
  cursor: pointer;
  padding: 15px 70px;
  font-family: 'Tilt Warp', cursive;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

input{
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.novaCaixa{
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.vermelho{
  background-color: #e01b1b !important;
}

.amarelo{
  background-color: #dfe224 !important;
}

.verde{
  background-color: #54e72f !important;
}

.cinza{
  background-color: #535353 !important;
}